@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container-box {
  max-width: 100%;
  padding: 60px;
}

.flex-auto {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p, a, small, span {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin: 0;
  padding: 0;
}

.extralight {
  font-weight: 200;
  font-style: normal;
}

.light {
  font-weight: 300;
  font-style: normal;
}

.text-12px {
  font-size: 12px;
  line-height: 16px;
}

.text-14px {
  font-size: 14px;
  line-height: 20px;
}

.text-16px {
  font-size: 16px;
  line-height: 24px;
}

.text-18px {
  font-size: 18px;
  line-height: 28px;
}

.text-20px {
  font-size: 20px;
  line-height: 32px;
}

.text-24px {
  font-size: 24px;
  line-height: 36px;
}

.text-28px {
  font-size: 28px;
  line-height: 40px;
}

.text-32px {
  font-size: 32px;
  line-height: 44px;
}

.text-36px {
  font-size: 36px;
  line-height: 48px;
}

.text-40px {
  font-size: 40px;
  line-height: 52px;
}

.text-48px {
  font-size: 48px;
  line-height: 64px;
}

.text-56px {
  font-size: 56px;
  line-height: 72px;
}

.text-64px {
  font-size: 64px;
  line-height: 80px;
}

.text-72px {
  font-size: 72px;
  line-height: 92px;
}

.display-xl {
  font-size: 240px;
  line-height: 240px;
  letter-spacing: -12px;
}

.display-lg {
  font-size: 120px;
  line-height: 124px;
  letter-spacing: -0.5px;
}

h1, h2, h3, h4, h5, h6, p, a, small, span {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin: 0;
  padding: 0;
}

.extralight {
  font-weight: 200;
  font-style: normal;
}

.light {
  font-weight: 300;
  font-style: normal;
}

.text-12px {
  font-size: 12px;
  line-height: 16px;
}

.text-14px {
  font-size: 14px;
  line-height: 20px;
}

.text-16px {
  font-size: 16px;
  line-height: 24px;
}

.text-18px {
  font-size: 18px;
  line-height: 28px;
}

.text-20px {
  font-size: 20px;
  line-height: 32px;
}

.text-24px {
  font-size: 24px;
  line-height: 36px;
}

.text-28px {
  font-size: 28px;
  line-height: 40px;
}

.text-32px {
  font-size: 32px;
  line-height: 44px;
}

.text-36px {
  font-size: 36px;
  line-height: 48px;
}

.text-40px {
  font-size: 40px;
  line-height: 52px;
}

.text-48px {
  font-size: 48px;
  line-height: 64px;
}

.text-56px {
  font-size: 56px;
  line-height: 72px;
}

.text-64px {
  font-size: 64px;
  line-height: 80px;
}

.text-72px {
  font-size: 72px;
  line-height: 92px;
}

.display-xl {
  font-size: 240px;
  line-height: 240px;
  letter-spacing: -12px;
}

.display-lg {
  font-size: 120px;
  line-height: 124px;
  letter-spacing: -0.5px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container-box {
  max-width: 100%;
  padding: 60px;
}

.flex-auto {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: 240px;
}
.footer p {
  color: #999999;
}

.footer-socmed {
  display: flex;
  gap: 16px;
}

h1, h2, h3, h4, h5, h6, p, a, small, span {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin: 0;
  padding: 0;
}

.extralight {
  font-weight: 200;
  font-style: normal;
}

.light {
  font-weight: 300;
  font-style: normal;
}

.text-12px {
  font-size: 12px;
  line-height: 16px;
}

.text-14px {
  font-size: 14px;
  line-height: 20px;
}

.text-16px {
  font-size: 16px;
  line-height: 24px;
}

.text-18px {
  font-size: 18px;
  line-height: 28px;
}

.text-20px {
  font-size: 20px;
  line-height: 32px;
}

.text-24px {
  font-size: 24px;
  line-height: 36px;
}

.text-28px {
  font-size: 28px;
  line-height: 40px;
}

.text-32px {
  font-size: 32px;
  line-height: 44px;
}

.text-36px {
  font-size: 36px;
  line-height: 48px;
}

.text-40px {
  font-size: 40px;
  line-height: 52px;
}

.text-48px {
  font-size: 48px;
  line-height: 64px;
}

.text-56px {
  font-size: 56px;
  line-height: 72px;
}

.text-64px {
  font-size: 64px;
  line-height: 80px;
}

.text-72px {
  font-size: 72px;
  line-height: 92px;
}

.display-xl {
  font-size: 240px;
  line-height: 240px;
  letter-spacing: -12px;
}

.display-lg {
  font-size: 120px;
  line-height: 124px;
  letter-spacing: -0.5px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container-box {
  max-width: 100%;
  padding: 60px;
}

.flex-auto {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p, a, small, span {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin: 0;
  padding: 0;
}

.extralight {
  font-weight: 200;
  font-style: normal;
}

.light {
  font-weight: 300;
  font-style: normal;
}

.text-12px {
  font-size: 12px;
  line-height: 16px;
}

.text-14px {
  font-size: 14px;
  line-height: 20px;
}

.text-16px {
  font-size: 16px;
  line-height: 24px;
}

.text-18px {
  font-size: 18px;
  line-height: 28px;
}

.text-20px {
  font-size: 20px;
  line-height: 32px;
}

.text-24px {
  font-size: 24px;
  line-height: 36px;
}

.text-28px {
  font-size: 28px;
  line-height: 40px;
}

.text-32px {
  font-size: 32px;
  line-height: 44px;
}

.text-36px {
  font-size: 36px;
  line-height: 48px;
}

.text-40px {
  font-size: 40px;
  line-height: 52px;
}

.text-48px {
  font-size: 48px;
  line-height: 64px;
}

.text-56px {
  font-size: 56px;
  line-height: 72px;
}

.text-64px {
  font-size: 64px;
  line-height: 80px;
}

.text-72px {
  font-size: 72px;
  line-height: 92px;
}

.display-xl {
  font-size: 240px;
  line-height: 240px;
  letter-spacing: -12px;
}

.display-lg {
  font-size: 120px;
  line-height: 124px;
  letter-spacing: -0.5px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container-box {
  max-width: 100%;
  padding: 60px;
}

.flex-auto {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.btn-index-arrow {
  height: 124px;
  width: 264px;
  border: 1px solid #666666;
  border-radius: 666px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-index-arrow:hover {
  border-color: #FFFFFF;
}

.btn-link-lime {
  color: #A0F046;
  text-decoration: none;
}

.btn-link-white {
  color: #FFFFFF;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, a, small, span {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin: 0;
  padding: 0;
}

.extralight {
  font-weight: 200;
  font-style: normal;
}

.light {
  font-weight: 300;
  font-style: normal;
}

.text-12px {
  font-size: 12px;
  line-height: 16px;
}

.text-14px {
  font-size: 14px;
  line-height: 20px;
}

.text-16px {
  font-size: 16px;
  line-height: 24px;
}

.text-18px {
  font-size: 18px;
  line-height: 28px;
}

.text-20px {
  font-size: 20px;
  line-height: 32px;
}

.text-24px {
  font-size: 24px;
  line-height: 36px;
}

.text-28px {
  font-size: 28px;
  line-height: 40px;
}

.text-32px {
  font-size: 32px;
  line-height: 44px;
}

.text-36px {
  font-size: 36px;
  line-height: 48px;
}

.text-40px {
  font-size: 40px;
  line-height: 52px;
}

.text-48px {
  font-size: 48px;
  line-height: 64px;
}

.text-56px {
  font-size: 56px;
  line-height: 72px;
}

.text-64px {
  font-size: 64px;
  line-height: 80px;
}

.text-72px {
  font-size: 72px;
  line-height: 92px;
}

.display-xl {
  font-size: 240px;
  line-height: 240px;
  letter-spacing: -12px;
}

.display-lg {
  font-size: 120px;
  line-height: 124px;
  letter-spacing: -0.5px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container-box {
  max-width: 100%;
  padding: 60px;
}

.flex-auto {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.divider-dark {
  border-bottom: 1px solid #666666;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, small, span {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin: 0;
  padding: 0;
}

.extralight {
  font-weight: 200;
  font-style: normal;
}

.light {
  font-weight: 300;
  font-style: normal;
}

.text-12px {
  font-size: 12px;
  line-height: 16px;
}

.text-14px {
  font-size: 14px;
  line-height: 20px;
}

.text-16px {
  font-size: 16px;
  line-height: 24px;
}

.text-18px {
  font-size: 18px;
  line-height: 28px;
}

.text-20px {
  font-size: 20px;
  line-height: 32px;
}

.text-24px {
  font-size: 24px;
  line-height: 36px;
}

.text-28px {
  font-size: 28px;
  line-height: 40px;
}

.text-32px {
  font-size: 32px;
  line-height: 44px;
}

.text-36px {
  font-size: 36px;
  line-height: 48px;
}

.text-40px {
  font-size: 40px;
  line-height: 52px;
}

.text-48px {
  font-size: 48px;
  line-height: 64px;
}

.text-56px {
  font-size: 56px;
  line-height: 72px;
}

.text-64px {
  font-size: 64px;
  line-height: 80px;
}

.text-72px {
  font-size: 72px;
  line-height: 92px;
}

.display-xl {
  font-size: 240px;
  line-height: 240px;
  letter-spacing: -12px;
}

.display-lg {
  font-size: 120px;
  line-height: 124px;
  letter-spacing: -0.5px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container-box {
  max-width: 100%;
  padding: 60px;
}

.flex-auto {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p, a, small, span {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin: 0;
  padding: 0;
}

.extralight {
  font-weight: 200;
  font-style: normal;
}

.light {
  font-weight: 300;
  font-style: normal;
}

.text-12px {
  font-size: 12px;
  line-height: 16px;
}

.text-14px {
  font-size: 14px;
  line-height: 20px;
}

.text-16px {
  font-size: 16px;
  line-height: 24px;
}

.text-18px {
  font-size: 18px;
  line-height: 28px;
}

.text-20px {
  font-size: 20px;
  line-height: 32px;
}

.text-24px {
  font-size: 24px;
  line-height: 36px;
}

.text-28px {
  font-size: 28px;
  line-height: 40px;
}

.text-32px {
  font-size: 32px;
  line-height: 44px;
}

.text-36px {
  font-size: 36px;
  line-height: 48px;
}

.text-40px {
  font-size: 40px;
  line-height: 52px;
}

.text-48px {
  font-size: 48px;
  line-height: 64px;
}

.text-56px {
  font-size: 56px;
  line-height: 72px;
}

.text-64px {
  font-size: 64px;
  line-height: 80px;
}

.text-72px {
  font-size: 72px;
  line-height: 92px;
}

.display-xl {
  font-size: 240px;
  line-height: 240px;
  letter-spacing: -12px;
}

.display-lg {
  font-size: 120px;
  line-height: 124px;
  letter-spacing: -0.5px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container-box {
  max-width: 100%;
  padding: 60px;
}

.flex-auto {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p, a, small, span {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin: 0;
  padding: 0;
}

.extralight {
  font-weight: 200;
  font-style: normal;
}

.light {
  font-weight: 300;
  font-style: normal;
}

.text-12px {
  font-size: 12px;
  line-height: 16px;
}

.text-14px {
  font-size: 14px;
  line-height: 20px;
}

.text-16px {
  font-size: 16px;
  line-height: 24px;
}

.text-18px {
  font-size: 18px;
  line-height: 28px;
}

.text-20px {
  font-size: 20px;
  line-height: 32px;
}

.text-24px {
  font-size: 24px;
  line-height: 36px;
}

.text-28px {
  font-size: 28px;
  line-height: 40px;
}

.text-32px {
  font-size: 32px;
  line-height: 44px;
}

.text-36px {
  font-size: 36px;
  line-height: 48px;
}

.text-40px {
  font-size: 40px;
  line-height: 52px;
}

.text-48px {
  font-size: 48px;
  line-height: 64px;
}

.text-56px {
  font-size: 56px;
  line-height: 72px;
}

.text-64px {
  font-size: 64px;
  line-height: 80px;
}

.text-72px {
  font-size: 72px;
  line-height: 92px;
}

.display-xl {
  font-size: 240px;
  line-height: 240px;
  letter-spacing: -12px;
}

.display-lg {
  font-size: 120px;
  line-height: 124px;
  letter-spacing: -0.5px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container-box {
  max-width: 100%;
  padding: 60px;
}

.flex-auto {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.index-img-hero {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  width: 400px;
}

.index-hero h1:nth-child(2) {
  text-align: end;
}

.index-hero-intro {
  margin-top: 80px;
  align-items: end;
}
.index-hero-intro p {
  max-width: 332px;
}
.index-hero-intro span {
  color: #999999;
}

.index-work {
  margin-top: 240px;
}

.index-work-title {
  align-items: end;
}
.index-work-title h2 {
  width: 100%;
}

.index-work-list {
  margin-top: 80px;
  gap: 24px;
}

.index-work-item {
  width: 100%;
  color: #FFFFFF;
  text-decoration: none;
  gap: 24px;
}
.index-work-item img {
  width: 100%;
}

.index-work-detail {
  display: flex;
  gap: 16px;
}
.index-work-detail h3 {
  width: 100%;
  text-align: end;
}
.index-work-detail p {
  white-space: nowrap;
  color: #999999;
}

.index-contact {
  margin-top: 240px;
  gap: 80px;
  align-items: center;
}
.index-contact h4 {
  max-width: 1280px;
  text-align: center;
}

.index-contact-action {
  display: flex;
  gap: 24px;
}/*# sourceMappingURL=main.css.map */