@import 'variable.scss';
@import 'mixin.scss';

* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bg-padding-black {
    background-color: $black;
    color: $white;
    padding: $space-2xl;
}

.container {
    max-width: 100%;
    padding-left: $space-3xl;
    padding-right: $space-3xl;
}

// responsive configuration
@include max-width-1024px {
    .bg-padding-black {
        padding: $space-xl;
    }

    .container {
        padding-left: $space-2xl;
        padding-right: $space-2xl;
    }
}

@include max-width-836px {
    .bg-padding-black {
        padding: $space-md;
    }

    .container {
        padding-left: $space-xl;
        padding-right: $space-xl;
    }
}

@include max-width-564px {
    .bg-padding-black {
        padding: $space-sm;
    }

    .container {
        padding-left: $space-lg;
        padding-right: $space-lg;
    }
}

