@import 'variable.scss';
@import 'mixin.scss';

* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container-box {
    max-width: 100%;
    padding: 24px;
}

// basic-layout: display-flex
.flex-auto {
    display: flex;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}