// color-collection:state
$hover-text--bgdark: #FF3639;

// color-collection:black
$black-base: #000000;
$black-light: #333333;
$black-lighter: #666666;
$black-lightest: #999999;

// color-collection:lime
$lime-base: #A0F046;

// color-collection: dungeon
$dungeon-base: #F43235;

// color-collection: general
$white: #FFFFFF;
$overlay: linear-gradient(0deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));

// layout:spacing
$section-xl: 120px;
