// color collection
$white: #FFFFFF;
$background-light: #E7E8E3;
$black-base: #000000;
$black-light: #444444;
$black-lighter: #888888;
$black-lightest: #CCCCCC;
$darkgreen-base: #131E0B;
$darkgreen-light: #525A4C;
$darkgreen-lighter: #91968D;
$darkgreen-lightest: #D0D2CE;
$yellow-base: #FFCA70;
$hover-for-bgdark: #04D939;
$hover-for-bglight: #AB1618;

// typography varian
$letter-spacing-sm: 0.2px;
$section-spacing: 120px;