@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Sora:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Pirata One', cursive;
}

body {
    background-color: #0A0A0A;
    width: 100%;
}

.splash {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.splash img {
    max-width: 216px;
    border-radius: 999px;
}