@import '../foundation/variable.scss';
@import '../foundation/mixin.scss';

.home_about {
    padding-top: 120px;
    padding-bottom: 40px;
}

.home_about-title{
    gap: 16px;
    align-items: center;
    span{
        text-align: center;
    }
}

.image_collection{
    padding: 40px 0;
    gap: 24px;
}

.image_row{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
//     display: flex;
//     flex-wrap: wrap;
//     max-width: 1440px;
//     gap: 24px;
//     position: relative;
//     overflow: hidden;
 }

.imageui{
//   flex: 1;
//   width: 0;
    max-width: calc(48% + 5px);   
    height: 100%;
}

.experience_container{
    padding: 40px 0;
    gap: 24px;
}

.project_list{
    width: 100%;
    gap: 24px;
    cursor: pointer;
    align-items: center;
}
.expertise_content{
    gap: 24px;
    align-items: center;   
}

.listexpertise{
    gap: 16px;
    text-align: center;
}

@include max-width-1024px {
    //section: hero
    // .homeui{
    //     text-align: center;
    //     h1 {@include display-;}
        
    
    // }
    .imageui{
        //   flex: 1;
        //   width: 0;
            max-width: calc(100% + 4px);   
            height: 100%;
        }
}


@include max-width-768px {
    //section: hero
    .home_about-title{
        text-align: center;
        h1 {@include display-sm;}
        
    
    }
    .imageui{
        //   flex: 1;
        //   width: 0;
            max-width: calc(100% + 4px);   
            height: 100%;
        }
}


@include max-width-524px {
  

    
    .home_about-title {
        text-align: center;
        h1 {@include display-sm;}
        
    
    }

    

    .imageui{
        //   flex: 1;
        //   width: 0;
            max-width: calc(100% + 4px);   
            height: 100%;
        }
}