@import '../variable.scss';
@import '../mixin.scss';

.contact-ornament {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        opacity: 16%;
        max-width: 100%;
    }
}

.contact-hero {
    margin-top: $section-spacing;
    margin-bottom: $section-spacing;
}

.contact-hero-main {
    @include flex-space-between;
    align-items: flex-end;
    padding-top: 320px;

    h1 {max-width: 800px;}
}

.contact-hero-action {
    display: inline-flex;
    gap: 8px;
}