@import '../foundation/variable.scss';
@import '../foundation/mixin.scss';

.drawingHero {
    margin-top: 264px;

    h1:nth-child(2) {
        text-align: end;
    }
}

.drawingList {
    margin-top: $section-spacing;
    margin-bottom: $section-spacing;
    display: flex;
    justify-content: center;
}

.drawingList-item {
    max-width: 648px;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h3 {
        margin-top: 24px;
        margin-bottom: 4px;
    }

    p {color: map-get($black, 700);}
}

//responsive-configuration
@include max-width-524px {
    .drawingHero-title {
        h1, h1 {@include display-md;}
    }
}