@import '../foundation/variable.scss';
@import '../foundation/mixin.scss';

//section: hero
.homeHero {
    padding-top: 264px;
}

.homeHero-title {
    margin-bottom: 96px;
}

.homeHero-title-detail {
    @include flex-center-horizontal;
    gap: 32px;

    h2 {
        color: map-get($black , 700);
    }
}

.homeHero-intro {
    align-items: end;
}

.homeHero-intro-about {
    max-width: 508px;
    gap: 32px;

    p {
        width: 100%;
    }
}

.homeHero-intro-about-title {
    @include flex-center-horizontal;
    gap: 8px;

    span {
        color: map-get($black, 700);
    }
}

//section: work
.homeWork {
    margin-top: $section-spacing;
    gap: 24px;
}

.homeWork-header {
    align-items: end;
    margin-bottom: 24px;
    flex-wrap: wrap;
    gap: 8px;
}

.homeWork-header-title {
    display: flex;
    align-items: start;
    gap: 8px;

    span {
        color: map-get($black, 700);
    }
}

.homeWork-header-action {
    gap: 8px;
    @include flex-center-horizontal;
    @include gap-transition;
}

.homeWork-header-action:hover {
    gap: 12px;
}

.homeWork-list {
    gap: 24px;
}

.homeWork-row {
    gap: 24px;

    .ratio-1-1 {
        width: 100%;
        aspect-ratio: 1/1;
    }
    
    .ratio-flex-1 {
        width: 60%;
        max-height: 648px;
        aspect-ratio: 1/1;
    }
    .ratio-flex-2 {
        width: 40%;
        max-height: 648px;
        aspect-ratio: 1/1;
    }
}

.homeWork-list-item {
    overflow: hidden;
    border-radius: 16px;
    position: relative;
    display: flex;
    align-items: end;
    @include tag-a-reset;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform ease $interation-time-xs;
    }
}

.homeWork-list-item:hover {
    .homeWork-list-detail {
        opacity: 100%;
    }

    img {transform: scale(1.1);}
}

.homeWork-list-detail {
    opacity: 0%;
    position: absolute;
    width: -webkit-fill-available;
    z-index: 8;
    padding: 24px;
    margin: 12px;
    border-radius: 12px;
    background-color: $white;
    align-items: start;
    transition: opacity ease 0.5s;
}

.homeWork-list-detail-title {
    width: 100%;
    gap: 4px;

    p {color: map-get($black, 700);}
}

//section: contact
.homeContact {
    padding: 40px;
    border-radius: 16px;
    background-color: map-get($grey, 500);
    margin-top: $section-spacing;
    margin-bottom: $section-spacing;
    gap: 120px;
}

.homeContact-title {
    gap: 4px;

    p {color: map-get($black, 700);}
}

.homeContact-action {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    

    img {width: 40px;}
}

.homeContact-action-text {
    display: flex;
    align-items: start;
    gap: 8px;

    a {transition: margin-right ease 0.25s;}
    a:hover {margin-right: 4px;}
    span {color: map-get($black, 700);}
}

//responsive-configuration
@include max-width-1024px {
    //section: work
    .homeWork-row {
        flex-direction: column;

        .ratio-flex-1 {width: 100%; max-height: 100%;}
        .ratio-flex-2 {width: 100%; max-height: 100%;}
    }
}

@include max-width-768px {
    //section: hero
    .homeHero-title-detail {
        flex-wrap: wrap;
        h2 {@include text-36px}
    }

    .homeHero-intro {
        flex-direction: column;
        gap: 40px;
        align-items: start;
    }
}

@include max-width-524px {
    //section: hero
    .homeHero-title {
        h1 {@include display-sm;}
        h2 {@include text-28px;}
    }

    //section: work
    .homeWork-header-title {
        flex-direction:  column;
        h1 {@include display-xs;}
    }

    .homeWork-list, .homeWork-row {gap: 16px;}

    //section: contact
    .homeContact {
        padding: 24px;
    }

    .homeContact-title {
        h1 {@include text-24px;}
        p {@include text-14px;}
    }

    .homeContact-action {
        flex-direction: column;
        align-items: end;
        gap: 8px;
    }

    .homeContact-action-text {
        width: 100%;
        align-items: start;
        flex-direction:  column;
        gap: 8px;

        a {@include text-24px;}
    }
}