@import '../foundation/variable.scss';
@import '../foundation/mixin.scss';

//section: hero
.homeHero {
    margin-top: 264px;
}

.homeHero-title {
    margin-bottom: 96px;
}

.homeHero-title-detail {
    @include flex-center-horizontal;
    gap: 32px;

    h2 {
        color: map-get($black , 700);
    }
}

.homeHero-intro {
    align-items: end;
}

.homeHero-intro-about {
    max-width: 508px;
    gap: 32px;

    p {
        width: 100%;
    }
}

.homeHero-intro-about-title {
    @include flex-center-horizontal;
    gap: 8px;

    span {
        color: map-get($black, 700);
    }
}

//section: work
.homeWork {
    margin-top: $section-spacing;
    padding-top: 24px;
    border-top: 1px solid map-get($grey, 700);
    gap: 24px;
}

.homeWork-header {
    align-items: end;
    margin-bottom: 24px;
}

.homeWork-header-title {
    display: flex;
    align-items: start;
    gap: 16px;

    span {
        color: map-get($black, 700);
    }
}

.homeWork-header-action {
    gap: 8px;
    @include flex-center-horizontal;
    @include gap-transition;
}

.homeWork-header-action:hover {
    gap: 12px;
}

.homeWork-list {
    gap: 24px;
}

.homeWork-2column {
    gap: 24px;

    .homeWork-list-item {
        width: 100%;
        overflow: hidden;
        border-radius: 16px;
        aspect-ratio: 18/17;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.homeWork-1column {
    .homeWork-list-item {
        width: 100%;
        overflow: hidden;
        border-radius: 16px;
        aspect-ratio: 18/9;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.homeWork-list-item {img {transition: transform ease $interation-time-xs;}}
.homeWork-list-item:hover {img {transform: scale(1.1);}}

//section: contact
.homeContact {
    padding: 48px;
    border-radius: 16px;
    background-color: map-get($grey, 500);
    margin-top: $section-spacing;
    margin-bottom: $section-spacing;
    gap: 120px;
}

.homeContact-title {
    gap: 4px;

    p {color: map-get($black, 700);}
}

.homeContact-action {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    

    img {width: 40px;}
}

.homeContact-action-text {
    display: flex;
    align-items: start;
    gap: 16px;

    a {transition: margin-right ease 0.25s;}
    a:hover {margin-right: 4px;}
    span {color: map-get($black, 700);}
}

