@import '../variable.scss';
@import '../mixin.scss';
@import '../typography.scss';
@import '../layouting.scss';

// section:hero
.index-hero {
    gap: 24px;
    
    img {
        width: 100%;
    }
}

.index-hero--img {
    width: 100%;
    height: 560px;
    background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 50%), url('https://res.cloudinary.com/dirms5hch/image/upload/v1677129768/img-primary/hero-img_r50j1h.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 8px;
}

.index-hero--instruction {
    writing-mode: vertical-lr;
    margin-right: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.index-hero--intro {
    h1 {
        width: 588px;
    }
}

.index-hero--skill {
    gap: 16px;

    h2 {color: $black-lighter;}
}

// section:work
.index-work {
    margin-top: $section-xl;
    gap: 24px;
}

.index-work--title {
    h3 {text-align: end;}
}

.index-work--button {
    display: flex;
    gap: 16px;
}

.index-work--list {
    gap: 24px;
}

.index-work--item {
    width: 100%;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    color: $white;
    aspect-ratio: 1/1;
    border-radius: 8px;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.index-work--detail {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: $overlay;
    position: absolute;
    padding: 24px;
    align-items: end;
    gap: 8px;
    display: none;

    h4 {
        width: 100%;
    }
}

.index-work--item:hover {
    .index-work--detail {
        display: flex;
    }
}

// section:contact
.index-contact {
    margin-top: $section-xl;

    h6 {
        text-align: center;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $section-xl;
    }
}

.index-contact--button {
    display: flex;
    gap: 16px;
    justify-content: end;
    margin-bottom: $section-xl;
}