@import '../foundation/variable.scss';
@import '../foundation/mixin.scss';

//intro: mawar
.introMawar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;
    background-color: $white;
    visibility: visible;
    opacity: 1;
    transition: all ease-out 0.25s;
}

.introMawar.hide {
    visibility: hidden;
    opacity: 0;
}

.introMawar-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 40px;

    h1, p {
        text-align: center;
        color: map-get($pink, 500);
    }
}

//responsive-configuration
@include max-width-428px {
    .introMawar-main {
        gap: 24px;

        h1 {
            @include text-loading-md;
        }
    }
}

