@import '../abstract/base.scss';

//button: link
.link-black {
    text-decoration: none;
    color: map-get($black, 900);
}

.link-black:hover {
    box-shadow: inset 0px -1px 0px #101010;
}

//button: custom
.btn-icon-circle {
    display: inline-flex;
    padding: 24px;
    border: 1px solid map-get($black, 900);
    border-radius: 666px;  
}