@import '../abstract/base.scss';

.header-logo {
    display: inline-flex;
    gap: 8px;
    text-decoration: none;
}

//responsive-configuration
@include max-width-md {
    .header-default {
        p {
            display: none;
        }
    }
}