@import '../abstract/base.scss';

// section: hero
.home-hero {
    margin-top: 32px;
    align-items: end;
    margin-bottom: $spacing-section;
    gap: 32px;

    .home-hero-img {
        width: 328px;
        border-radius: 666px 666px 0px 0px;
        transition: border-radius 0.25s;
        cursor: pointer;
    }

    .home-hero-img:hover {
        border-radius: 666px;
    }
}

.home-hero-detail {
    width: 928px;
    box-sizing: border-box;

    .home-hero-title {
        width: 100%;
        margin-bottom: 120px;

        h1:nth-child(2) {
            text-align: end;
        }
    }
}

.home-hero-intro {
    align-items: end;

    p {
        max-width: 308px;
        text-align: justify;
    }
}

// section: latest-work
.home-work {
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 1px solid map-get($black, 500);
    border-bottom: 1px solid map-get($black, 500);
    margin-bottom: $spacing-section;
}

.home-work-title {
    align-items: start;
    margin-bottom: 32px;

    a {
        text-decoration: none;
        gap: 8px;

        img {
            width: 20px;
        }
    }
}

.home-work-list {
    gap: 32px;
    max-width: 100%;
}

.home-work-item {
    width: 100%;
    text-decoration: none;
    color: map-get($black, 900);
}

.home-work-img {
    aspect-ratio: 5/6;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s;
    }
}

.home-work-detail {
    margin-top: 16px;
    gap: 16px;
    transition: gap 0.25s;

    h1 {
        width: 100%;
        text-align: end;
    }

    span {
        color: map-get($black, 700);
        white-space: nowrap;
    }
}

.home-work-item:hover {
    .home-work-detail {
        gap: 24px;
    }

    .home-work-img {
        img {
            transform: scale(1.1);
        }
    }
}

//responsive
@include max-width-lg {
    .home-hero {
        margin-top: $spacing-section;
        flex-direction: column;
        align-items: center;
        gap: $spacing-section;
    }

    .home-hero-detail {
        width: 100%;
    }
}

@include max-width-md {
    .home-hero-title {
        h1 {
            font-size: 120px;
            line-height: 120px;
            letter-spacing: -4px;
        }

        h2 {
            font-size: 56px;
            line-height: 72px;
        }
    }

    .home-hero-intro {
        flex-direction: column;
        align-items: center;
        gap: 40px;

        p {
            max-width: 360px;
            text-align: center;
        }
    }

    .home-work-list {
        flex-direction: column;
    }
}

@include max-width-sm {
    .home-hero-title {
        h1 {
            font-size: 72px;
            line-height: 72px;
            font-weight: 300;
            letter-spacing: 0.1px;
        }

        h2 {
            font-size: 40px;
            line-height: 52px;
        }
    }
}