@import '../variable.scss';
@import '../mixin.scss';
@import '../typography.scss';
@import '../layouting.scss';

//button-size
.btn-extralarge {
    height: 108px;
    border-radius: $rounded;
    @include flex-centered;
    padding-left: 80px;
    padding-right: 80px;
}

//button-in-background-dark-edition
.btn-line-dark {
    border: 1px solid $color-grey-dark;
}

.btn-line-dark:hover {
    border-color: $color-yellow-dark;
}

.link-dark {
    cursor: pointer;
    color: $white;
}
