@import '../foundation/variable.scss';
@import '../foundation/mixin.scss';

.footer-main {
    align-items: center;
    padding: 24px 0px;
    gap: 4px;
    flex-wrap: wrap;
}

.footer-socmed {
    display: flex;
    gap: 16px;
}


@include max-width-524px {
.footer-main{
    align-items: center;
    padding: 24px 0px;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}
}   