@import '../foundation/variable.scss';
@import '../foundation/mixin.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    background-color: $white;
}

.header-main {
    align-items: end;
    padding: 20px 0px;
}

.header-logo {
    p {
        color: map-get($black , 700);
    }
}