@import '../variable.scss';
@import '../mixin.scss';

.navbar {
    @include flex-space-between;
    align-items: center;
}

.navbar-menu {
    display: flex;
    gap: $space-2xl;

    a {@include textlink-without-underline;}
    a:hover {color: $yellowTurn-base;}
}

.navbar-icon {
    display: none !important;
}

// responsive configuration
@include max-width-748px {
    .navbar-menu {
        display: none;
    }

    .navbar-icon {
        display: inline-flex !important;
    }
}