@import '../variable.scss';
@import '../mixin.scss';

.navbar {margin-top: 40px;}
.navbar-main {@include flex-space-between-center;}

.navbar-logo {
    width: 156px;
    text-decoration: none;
}

.navbar-icon {
    display: inline-flex;
    justify-content: end;
    width: 156px;
}

// responsive configuration
@include max-width-836px {
    .navbar-statement {
        display: none;
    }
}

